<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}">
    <title>gifbox preferences</title>
  </head>
  <body>
    
    <div class="container">

        <h1>gifbox preferences</h1>

      <!-- dropbox status -->
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Dropbox
            </div>
            <div class="card-body">
              {% if url_dropbox_auth %}
                <p>⚠️ gifbox is <strong>not connected</strong> to a Dropbox account.</p>
                <a href="{{ url_dropbox_auth }}" class="btn btn-primary" role="button">Connect to Dropbox</a>
              {% else %}
                <p>✅ gifbox is connected to Dropbox.</p>
                <a href="{{ url_dropbox_deauth }}" class="btn btn-warning" role="button">Disconnect from Dropbox</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      
      <!-- config form -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Overlays
            </div>
            <div class="card-body">
              <form>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="rdoOverlay" id="rdoOverlayNone" value="none" checked>
                      <label class="form-check-label" for="rdoOverlayNone">No overlay</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rdoOverlay" id="rdoOverlayClock" value="clock">
                      <label class="form-check-label" for="rdoOverlayClock">Clock</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rdoOverlay" id="rdoOverlayPng" value="png">
                        <label class="form-check-label" for="rdoOverlayPng">PNG file</label>
                      </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    
    <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>
  </body>
</html>